<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <meta property="og:title" content="{{name}}">
    <meta property="og:description" content="{{name}} uses the best panel for hosting game servers, namely PandaPanel">
    <meta property="og:image" content="/static/png/logo.png">
    <link rel="icon" href="/static/images/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="music">
        <iframe width="0" height="0" src="https://www.youtube.com/embed/rYlSAtIL79U?autoplay=1&loop=1&playlist=rYlSAtIL79U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="gif-background"></div>

    <h1 id="error_text"></h1>
    <div id="progress-bar">
        <div id="progress"></div>
    </div>

    <div class="container">
        <h1>{{name}}</h1>
        <input type="text" placeholder="Username or Email" id="username">
        <input type="password" placeholder="Password" id="password">
        <button>Login</button>
        <p>&copy; 2025 PandaPanel All rights reserved.</p>
    </div>
</body>
</html>