<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <meta property="og:title" content="{{name}}">
    <meta property="og:description" content="{{name}} uses the best panel for hosting game servers, namely PandaPanel">
    <meta property="og:image" content="/static/png/logo.png">
    <link rel="icon" href="/static/png/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="music">
        <iframe id="youtubePlayer" width="0" height="0" src="https://www.youtube.com/embed/rYlSAtIL79U?autoplay=1&loop=1&playlist=rYlSAtIL79U&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="gif-background"></div>

    <img id="muteButton" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Speaker_Icon.svg" alt="Mute" />

    <div class="text-container">
        <h1>{{name}}</h1>
    </div>

    <div class="buttons-container">
        {% if admin %}
            <button onclick="window.location.href='/admin'">Admin</button>
        {% endif %}
        <button onclick="window.location.href='/'">Servers</button>
        <button onclick="window.location.href='/account'">Account</button>
        <button onclick="window.location.href='/auth/logout'">Logout</button>
    </div>   

    <div class="control-buttons-container">
        <button onclick="do_action('start')">Start</button>
        <button onclick="do_action('restart')">Restart</button>
        <button onclick="do_action('stop')">Stop</button>
        <button onclick="do_action('tmate')">Tmate</button>
        <button onclick="do_action('sshx')">Sshx</button>
    </div>   

    <iframe id="console" width="675" height="450" frameborder="0"></iframe>

    <script>
        var currentUrl = window.location.href + '/console';
    
        document.getElementById('console').src = currentUrl;
    </script>

    <footer>
        <p>&copy; 2025 PandaPanel All rights reserved.</p>
    </footer>
    
    <script>
        async function do_action(action) {
            try {
                const response = await fetch(window.location.href + `/${action}`);
            } catch (error) {}
        }
    </script>

    <script src="/static/js/mute.js"></script>
</body>
</html>
