<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <meta property="og:title" content="{{name}}">
    <meta property="og:description" content="{{name}} uses the best panel for hosting game servers, namely PandaPanel">
    <meta property="og:image" content="/static/png/logo.png">
    <link rel="icon" href="/static/png/logo.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div id="music">
        <iframe id="youtubePlayer" width="0" height="0" src="https://www.youtube.com/embed/rYlSAtIL79U?autoplay=1&loop=1&playlist=rYlSAtIL79U&enablejsapi=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
    <div class="gif-background"></div>

    <img id="muteButton" src="https://upload.wikimedia.org/wikipedia/commons/2/21/Speaker_Icon.svg" alt="Mute" />
    
    <div id="progress-bar">
        <div id="progress"></div>
    </div>

    <div class="container">
        <h1>{{name}}</h1>
        <h1 id="error_text">{{error}}</h1>
        <form method="POST">
            <input type="password" placeholder="New Password" id="password" name="password" required>
            <button type="submit">Change Password</button>
        </form>
        <a id="forgot" href="/auth/login">Return To Login.</a>
        <p>&copy; 2025 PandaPanel All rights reserved.</p>
    </div>

    <script src="/static/js/mute.js"></script>
</body>
</html>